/* далее блок стилей для шапки страницы */

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  justify-items: center;
  width: 1052px;
  height: 105px;
  margin: 96px 24px 93px 24px;
  }

.header__menu {
    width: 391px;
}

.header__menu-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: circle;
  
}

.header__links-list-item {
  flex-grow: 1;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header__link_active {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header__logo {
  display: block;
  width: 100%;
  max-width: 135px;
  height: 100%;
  max-height: 105px;
  padding-left: 2px;
}

.header__contacts {
  padding-left: 163px;
}

.address {
  display: block;
  width: 240px;
  flex-shrink: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0.01em;
  font-style: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.address-text {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  font-style: normal;
  letter-spacing: 0em;
}

/* Далее идет блок стилей для первой секции основной части страницы */

.cover {
  background-image: url("../images/oil-painting-beautiful-lotus-flower_1232-1978.png");
  max-width: 1100px;
  height: 757px;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0005;
}

.cover__title {
  color: #fff;
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: column;
  margin: 165px 50px 135px 50px;
  width: 100%;
  max-width: 1000px;
  height: 355px;
  z-index: 1;
}

.aligned-text_center,
.aligned-text_right, 
.aligned-text
{
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  z-index: 1;
}

.aligned-text {
  align-self: flex-start;
  line-height: 115px;
}

.aligned-text_center {
  align-self: center;
  line-height: 135px;
}

.aligned-text_right {
  align-self: end;
  line-height: 100px;
}

.letter-spacing-extended {
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.6em;
  margin-left: -23px;
}

.cover__description {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.cover__description-text {
  text-transform: uppercase;
  color: #fff;
  word-spacing: 1rem;
  width: 637px;
  opacity: 1;
  font-family: 'Raleway', sans-serif ;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 30px;
  padding-top: 10px;
  white-space: nowrap;
}

.bet-button {
  text-transform: uppercase;
  width: 256px;
  height: 51px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-align: center;
  background-color: transparent;
  color: #fff;
  border-color: #fff
}

/* Далее идет блок стилей для второй секции основной части страницы */

.lots {
width: 1052px;
margin-top: 179px;
margin-left: 24px;
margin-right: 24px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.lots__heading {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.lots__card-list-item {
  display: block;
  width: 334px;
  height: 563px;
  max-width: 334px;
  flex-grow: 1;
  position: relative;
}

.card_type_film,
.card_type_book,
.card_type_picture 
{
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 51px 40px 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  color: #fff;
  position: relative;
}

.card__text {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #fff;
  position: relative;
}

.lots__look-more-link {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-align: left;
  text-decoration: underline;
  margin-left: 40px;
}

/* Далее идет блок стилей для третьее секции основной части страницы */

.about {
  width: 1052px;
  height: 595px;
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 148px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about__column-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 31px;
  margin-right: 15px;
}

.about__logo {
  display: block;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: grid;
  place-self: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  place-self: center;
}

.about__column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

.about__title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  padding-top: 102px;
  padding-left: 8px;
  text-transform: uppercase;
}

.about__text {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  width: 697px;
  height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 9px;
  margin-bottom: 4px;
  display: ruby;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Далее идет блок стилей для подвала страницы */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 177px;
}

.footer__menu {
  justify-self: center;
}

.footer__contacts {
  justify-self: center;
  padding-right: 22px;
}

.footer__menu-list-item {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;
  list-style-type: none;  
}

.footer__social-list {
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: end;
  list-style-type: none;
  margin-right: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}